* {
    margin: 0;
    padding: 0px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
html, body{
    max-height: 500vh;
    background-image: linear-gradient(to bottom, #0A051B 50%, #754EF9);
    background-repeat: no-repeat;
}
main{
    width: 70%;
    max-width: 900px;
    max-height: 500vh;
    background-color: #0B051F;
    border-radius: 10px;
    box-shadow: 0 2px 5px #04020c;
    border: 1px solid transparent;
    padding: 2rem;
    margin: 5% auto 0;
}
main #apresentacao{
    width: 100%;
    height: 50%;
}
main #resumo{
    width: 100%;
    height: 50%;
}
.azul{
    color: #5f3eca;
}
main #apresentacao header h1{
    font-size: 1.1rem;
    margin-right: 27rem;
}
.ola{
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    margin-top: 6.5rem;
}
.joao{
    font-size: 2.6rem;
    color: white;
    font-weight: 700;
}

.lorem{
    color: white;
    font-size: 0.6rem;
    max-width: 16rem;
    margin-bottom: 1.5rem;
}
.fa-linkedin-in{
    color: #5f3eca;
}
.icones-sociais a{
    color: #5f3eca;
    margin-right: 0.5rem;
    margin-top: 40rem;
    margin-bottom: 1rem;
    border: 1px solid #5f3eca;
    border-radius: 100%;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}
.icones-sociais a:hover{
    border: 1px solid white;
    color: white;
    transition: 0.3s;
}
#enviar{
    width: 10rem;
    height: 2rem;
    color: white;
    background-color: #5f3eca;
    border: none;
    margin-top: 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5rem;
}
#enviar:hover{
    transform: scale(1.05);
    transition: 0.3s;
    background-color: #462e94;
}
main #resumo{
    width: 100%;
    height: 50%;
}
main #resumo h1{
    color: white;
}
.resumo-eu{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 50%;
}
header nav a{
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    float: right;
    max-width: 900px;
}
header nav a:hover{
    text-decoration: underline;
}
header h1,
header nav {
    display: inline-block;
}
.lorem2{
    color: white;
    font-size: 0.8rem;
    max-width: 20rem;
    margin-bottom: 10rem;
}
.negrito{
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}
.servicos{
    color: white;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 3rem;
}
.azul{
    color: #5f3eca;
}
.caixa1{
    max-height: 20rem;
    max-width: 480px;
    width: 200px;
    border-top: 3px solid #5f3eca;
    border-bottom: 4px solid #5f3eca;
    border-radius: 7px;
    padding: 1rem;
    overflow-wrap: break-word;
    display: inline-block;
}
.caixa1 p{
    text-align: center;
    color: white;
    font-size: 0.7rem;
}
.caixa1 h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.7rem;
}
.caixa2{
    max-height: 20rem;
    max-width: 480px;
    width: 200px;
    border-top: 3px solid #5f3eca;
    border-bottom: 4px solid #5f3eca;
    border-radius: 7px;
    padding: 1rem;
    overflow-wrap: break-word;
    display: inline-block;
}
.caixa2 p{
    text-align: center;
    color: white;
    font-size: 0.7rem;
}
.caixa2 h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.7rem;
}
.caixa3{
    max-height: 20rem;
    max-width: 480px;
    width: 200px;
    border-top: 3px solid #5f3eca;
    border-bottom: 4px solid #5f3eca;
    border-radius: 7px;
    padding: 1rem;
    overflow-wrap: break-word;
    display: inline-block;
}
.caixa3 p{
    text-align: center;
    color: white;
    font-size: 0.7rem;
}
.caixa3 h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.7rem;
}
@media (max-width:480px) {
    .caixa1{
        min-width: 200px;
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}
@media (max-width:480px){
    .caixa2{
        min-width: 200px;
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}
@media (max-width:480px){
    .caixa3{
        min-width: 200px;
        display: block;
        margin: 0 auto;
        margin-bottom: 5rem;
        margin-top: 1rem;
    }
}
@media (min-width:1010px){
    .caixa1, .caixa2, .caixa3{
        min-width: 29%;
    }
}
@media (max-width:480px){
    .resumo-eu{
        margin-left: 0%;
    }
}
@media (max-width:1254px){
    main h1{
        display: block;
    }
    header nav a{
        float: left;
    }
}