* {
    margin: 0;
    padding: 0px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html, body{
    max-height: 500vh;
    background-image: linear-gradient(to bottom, #0A051B 50%, #754EF9);
    background-repeat: no-repeat;
    padding: 0px 0px 2rem 0rem;
}
main{
    width: 100%;
    max-width: 1000px;
    max-height: 500vh;
    background-color: #0B051F;
    border-radius: 10px;
    box-shadow: 0 2px 5px #04020c;
    border: 1px solid transparent;
    padding: 2rem;
    margin: 5% auto 0;
}
main #apresentacao{
    width: 100%;
    height: 50%;
}
main #resumo{
    width: 100%;
    height: 50%;
}
.azul{
    color: #5f3eca;
}
main #apresentacao header h1{
    font-size: 1.1rem;
    margin-right: 1.5rem;
    display: inline-block;
}
.ola{
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    margin-top: 6.5rem;
}
.joao{
    font-size: 2.6rem;
    color: white;
    font-weight: 700;
}

.lorem{
    color: white;
    font-size: 0.9rem;
    max-width: 16rem;
    margin-bottom: 1.5rem;
}
.fa-linkedin-in{
    color: #5f3eca;
}
.icones-sociais a{
    color: #5f3eca;
    margin-right: 0.5rem;
    margin-top: 40rem;
    margin-bottom: 1rem;
    border: 1px solid #5f3eca;
    border-radius: 100%;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    transition: 0.3s ease;
}
.icones-sociais a:hover{
    border: 1px solid white;
    color: white;
    transition: 0.4s;
}
#enviar{
    width: 10rem;
    height: 2rem;
    color: white;
    background-color: #5f3eca;
    border: none;
    margin-top: 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5rem;
    transition: transform 0.2s ease;
}
#enviar:hover{
    transform: scale(1.05);
    transition: 0.3s;
    background-color: #462e94;
}
main #resumo{
    width: 100%;
    height: 50%;
}
main #resumo h1{
    color: white;
}
.resumo-eu{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 50%;
}
header nav a{
    color: white;
    text-decoration: none;
    margin-right: 1.5rem;
    float: right;
    max-width: 900px;
    transition: 0.3s ease;
}
header nav a:hover{
    text-decoration: underline 2px solid #462e94;
    text-underline-offset: 0.2rem;
    transition: 0.3s;
    color: #462e94;
}
header nav {
    float: right;
}
.lorem2{
    color: white;
    font-size: 0.9rem;
    max-width: 20rem;
    margin-bottom: 10rem;
}
.negrito{
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}
.servicos{
    color: white;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
}
.azul{
    color: #5f3eca;
}
.caixa1{
    max-height: 20rem;
    border-top: 3px solid #5f3eca;
    border-bottom: 4px solid #5f3eca;
    border-radius: 7px;
    padding: 1rem;
    overflow-wrap: break-word;
    display: inline-block;
}
.caixa1 p{
    text-align: center;
    color: white;
    font-size: 0.8rem;
}
.caixa1 h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.7rem;
}
.caixa2{
    max-height: 20rem;
    border-top: 3px solid #5f3eca;
    border-bottom: 4px solid #5f3eca;
    border-radius: 7px;
    padding: 1rem;
    overflow-wrap: break-word;
    display: inline-block;
}
.caixa2 p{
    text-align: center;
    color: white;
    font-size: 0.8rem;
}
.caixa2 h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.7rem;
}
.caixa3{
    max-height: 20rem;
    border-top: 3px solid #5f3eca;
    border-bottom: 4px solid #5f3eca;
    border-radius: 7px;
    padding: 1rem;
    overflow-wrap: break-word;
    display: inline-block;
}
.caixa3 p{
    text-align: center;
    color: white;
    font-size: 0.8rem;
}
.caixa3 h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.7rem;
}
.caixa1, .caixa2, .caixa3{
    margin-bottom: 10rem;
}
#contato{
    color: white;
    text-align: center;
    margin-bottom: 5rem;
}
#email{
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 15rem;
    height: 1.5rem;
    padding: 1rem;
    font-size: 0.9rem;
    margin-right: 1rem;
}
label{
    color: white;
    margin-right: 2rem;
}
#enviar2{
    width: 10rem;
    height: 2rem;
    color: white;
    background-color: #5f3eca;
    border: none;
    margin-top: 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5rem;
    transition: transform 0.2s ease;
}
#enviar2:hover{
    transform: scale(1.05);
    transition: 0.3s;
    background-color: #462e94;
}
#container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1rem;
}
.fixo{
    color: #462e94;
    text-decoration: underline 2px solid #462e94;
    text-underline-offset: 0.2rem;
}
.resumo-projetos{
    max-width: 350px;
    color: white;
    margin-bottom: 3rem;
}
.container-projetos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    row-gap: 20px;
}
.container-projetos .tag-1 p, h1{
    color: white;
}
.container-projetos .tag-1 h1{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.container-projetos .tag-1 p {
    font-size: 0.9rem;
}
.projetos{
    height: 200px;
    overflow: hidden;
    border-radius: 1rem;
    border: 2px dashed white;
    transition: transform 0.3s ease;
}
.projetos:hover{
    transform: scale(1.2);
    transition: 0.4s;
    box-shadow: 10px 7px 15px rgba(0, 0, 0, 0.466);
    cursor: pointer;
}
.projetos img{
    width: 100%;
    height: 100%;
}
.tags{
    display: inline-block;
}
@media (max-width:480px){
    .resumo-eu{
        margin-left: 0%;
    }
}
@media (max-width:480px){
    main{
        width: 100%;
        margin: 0% auto 0;
        overflow-x: hidden;
    }
}