* {
    margin: 0;
    padding: 0px;
    font-family: 'Poppins';
}
body{
    max-height: 200vh;
    background-image: linear-gradient(to bottom, #0A051B 50%, #754EF9);
}
main{
    width: 70%;
    max-width: 900px;
    min-height: 80vh;
    background-color: #0B051F;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 10px;
    box-shadow: 0 2px 5px #04020c;
    border: 1px solid transparent;
    padding: 2rem;
}
main #apresentacao{
    width: 100%;
    height: 50%;
}
main #sobre{
    width: 100%;
    height: 50vh;
}
.azul{
    color: #5f3eca;
}
main #apresentacao header h1{
    font-size: 1.1rem;
}
.ola{
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    margin-top: 6.5rem;
}
.joao{
    font-size: 2.6rem;
    color: white;
    font-weight: 700;
}

.lorem{
    color: white;
    font-size: 0.6rem;
    max-width: 16rem;
    min-width: 12.5rem;
    margin-bottom: 1.5rem;
}
.fa-linkedin-in{
    color: #5f3eca;
}
.icones-sociais a{
    color: #5f3eca;
    margin-right: 0.5rem;
    margin-top: 40rem;
    border: 1px solid #5f3eca;
    border-radius: 100%;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}
.icones-sociais a:hover{
    border: 1px solid white;
    color: white;
    transition: 0.3s;
}
#enviar{
    width: 10rem;
    height: 2rem;
    color: white;
    background-color: #5f3eca;
    border: none;
    margin-top: 2rem;
    border-radius: 5px;
    cursor: pointer;
}
#enviar:hover{
    transform: scale(1.05);
    transition: 0.3s;
    background-color: #462e94;
}
main #sobre{
    width: 100%;
    height: 50%;
}
main #sobre h1{
    color: white;
}
.resumo-eu{
    float: right;
    clear: right;
    margin-right: 50%;
    margin-top: 20rem;
}